@{
    ViewData["Title"] = "Login/Register Page";
}

<div class="text-center">
    <h1>Please Log In Or Register</h1>
    <div class="row">
        @await Html.PartialAsync("_Register")
        @await Html.PartialAsync("_Login")
    </div>
</div>
