@{
    ViewData["Title"] = "Success Page";
}
<form asp-action="Logout" asp-controller="User" method="post" class="d-flex flex-row-reverse m-3">
    <button class="btn btn-danger">Logout</button>
</form>
<h1 class="text-center m-5">Success!!</h1>